{% extends "network/layout.html" %}
{% load humanize %}
{% block body %}
<section>

    <div class="mb-4"> 
        <h2 class="text-4xl font-bold dark:text-white">All posts
            {% if not user.is_authenticated %}

            <span id="badge-dismiss-green"
                class="inline-flex justify-center items-center px-2 py-1 me-2 text-sm font-medium text-green-800 bg-green-100 rounded dark:bg-green-900 dark:text-green-300">
                Please <a class="px-1 font-bold" href="{% url 'login' %}"> log in</a> to post.

                <button type="button"
                    class="inline-flex items-center p-1 ms-2 text-sm text-green-400 bg-transparent rounded-sm hover:bg-green-200 hover:text-green-900 dark:hover:bg-green-800 dark:hover:text-green-300"
                    data-dismiss-target="#badge-dismiss-green" aria-label="Remove">
                    <svg class="w-2 h-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Remove badge</span>
                </button>
            </span>
            {% endif %}
        </h2>
    </div>

    <!-- % if user authenticated % -->
    {% if user.is_authenticated %}

    <div class="create-post-area my-4">

        <form action="{% url 'post' %}" method="post" id="create-post-form">
            {% csrf_token %}
            <div class="w-full mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
                <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
                    <label for="content" class="sr-only">Your content</label>
                    <textarea id="content" rows="4" name="content"
                        class="w-full px-0 text-sm text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400"
                        placeholder="What's happening?" required></textarea>
                </div>
                <div class="flex items-center justify-between px-3 py-2 border-t dark:border-gray-600">
                    <button type="submit" class="text-white bg-gray-900 post-button focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-semibold rounded-sm text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#050708]/50 dark:hover:bg-[#050708]/30 me-2 mb-2">
                        <i class="fas fa-solid fa-paw w-5 h-4 mr-2"></i>
                        Post
                        </button>
                    <div class="flex ps-0 space-x-1 rtl:space-x-reverse sm:ps-2">
                        <button type="button"
                            class="inline-flex justify-center items-center p-2 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 12 20">
                                <path stroke="currentColor" stroke-linejoin="round" stroke-width="2"
                                    d="M1 6v8a5 5 0 1 0 10 0V4.5a3.5 3.5 0 1 0-7 0V13a2 2 0 0 0 4 0V6" />
                            </svg>
                            <span class="sr-only">Attach file</span>
                        </button>
                        <button type="button"
                            class="inline-flex justify-center items-center p-2 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor" viewBox="0 0 16 20">
                                <path
                                    d="M8 0a7.992 7.992 0 0 0-6.583 12.535 1 1 0 0 0 .12.183l.12.146c.112.145.227.285.326.4l5.245 6.374a1 1 0 0 0 1.545-.003l5.092-6.205c.206-.222.4-.455.578-.7l.127-.155a.934.934 0 0 0 .122-.192A8.001 8.001 0 0 0 8 0Zm0 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6Z" />
                            </svg>
                            <span class="sr-only">Set location</span>
                        </button>
                        <button type="button"
                            class="inline-flex justify-center items-center p-2 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
                            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor" viewBox="0 0 20 18">
                                <path
                                    d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z" />
                            </svg>
                            <span class="sr-only">Upload image</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <br>

    </div>
    {% endif %}

    <div id="all-postwes">

        <section class="antialiased">
            <div class="mx-auto px-4" id="all-posts">
                {% for post in post_on_page %}
                <article id="article-{{ post.id }}"
                    class="p-6 mb-3 text-base bg-white border border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                    <footer class="flex justify-between items-center mb-2">
                        <div class="flex items-center">
                            <p
                                class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold">
                                <img class="mr-2 w-6 h-6 rounded-full"
                                    src="
                                    {% if post.user.image_url %}
                                    {{ post.user.image_url }}
                                    {% else %}
                                    https://ui-avatars.com/api/?name={{ post.user.username }}&rounded=true&size=128&background=d9f99d&color=4d7c0f&bold=true
                                    {% endif %}"
                                    alt="Bonnie Green">
                                <!-- link to that user profile -->
                                <a href="{% url 'profile' post.user.id %}" class="usernames">
                                    {{ post.user.first_name }} {{ post.user.last_name }}
                                </a>


                            </p>

                            <div class="mx-6 text-sm text-gray-500">
                                <a href="{% url 'profile' post.user.id %}">
                                    @{{ post.user.username }}
                                </a>
                            </div>
                            <div class="">
                                <p class="text-sm text-gray-600 dark:text-gray-400">
                                    <time pubdate datetime="2022-03-12" class="px-4" title="March 12th, 2022">
                                        <!-- created at -->
                                        {{ post.created_at | naturaltime }}
                                    </time>
                                </p>
                            </div>

                        </div>
                        <input type="hidden" name="csrfmiddlewaretoken"
                            value="ZAdlbzsAV4MX410hz0H8ReU7RgU2dEYuX1f1r6qqHEeYrBekQRd6Qix4yRsKQ4Rk">

                        <!-- if actual user is owner -->
                        {% if post.user == user %}
                        <button data-dropdown-toggle="dropdownComment3" data-post-id="{{ post.id }}"
                            class="edit-button inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 dark:text-gray-40 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                            type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-4 h-4">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                            </svg>
                            <span class="sr-only">Comment settings</span>
                        </button>
                        {% endif %}
                        <!-- Dropdown menu -->
                    </footer>
                    <p class="contenido-post text-gray-500 dark:text-gray-400">
                        {{ post.content }}
                    </p>
                    <div class="flex items-center mt-4 space-x-4">
                        <button type="button"
                        
                            class="flex items-center text-sm text-gray-500 dark:text-gray-400 font-medium like-button"
                            data-post-id="{{ post.id }}">

                            <input type="hidden" name="csrfmiddlewaretoken" value="wHFWXvHEQohP7yLTAlYgZBMrEexHfilPaAZJth4lYbz7PSyPqRP7anDGHiut2XUX">

                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor"
                                class="w-4 h-4 mr-2 heart-icon {% if user in post.likes.all %} liked {% endif %}">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                            </svg>


                            <span class="number-of-likes mx-3">{{ post.likes_count }} Likes</span>
                        </button>
                    </div>
                </article>
                {% endfor %}
            </div>
        </section>
    </div>
    <!-- pagination -->
    <div class="mt-10 pt-4 mb-6 flex justify-center items-center">
        <div class="flex">
            {% if post_on_page.has_previous %}
            <a href="?page={{ post_on_page.previous_page_number }}"
                class="flex items-center justify-center px-4 h-10 me-3 text-base font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                <svg class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 5H1m0 0 4 4M1 5l4-4" />
                </svg>
                Previous
            </a>
            {% endif %}
            {% if post_on_page.has_next %}

            <a href="?page={{ post_on_page.next_page_number }}"
                class="flex items-center justify-center px-4 h-10 text-base font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                Next
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a>
        </div>
        {% endif %}
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>



<!-- if message -->
{% endblock %}