@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #ebebeb;
}
.usernames {
    text-transform: capitalize;
}

.register {
    background-color: #334155;

}
.register:hover {
    transition: 0.3s;
    background-color: #bfdbfe;
    color: #020617;
}

/* .login {

} */
.login:hover {
    transition: 0.3s;
    background-color: #fde68a;
    color: #020617;
}

.exit:hover {
    transition: 0.3s;
    background-color: #e2e8f0;
}
.post-button:hover {
    transition: 0.3s;
    background-color: #334155;
}
.text-4xl {
    font-weight: 700;
}
.liked {
    fill: #db2777;
    stroke: #db2777;
}
.register-button:hover {
    background-color: #bfdbfe;
    transition: 0.3s;
    color: #09090b;

}

.register-button {
    background-color:#09090b;
}
.black-bg {
    background-color: #09090b;
}
